article img[alt='ln-post'] {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.post-line .line-title a {
    text-decoration: none;
}

.post-line .line-title [href='/posts/living-coding/']::before {
    content: "★ ";
}
