article img[alt='ln-post'] {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.post-line .line-title a {
    text-decoration: none;
}

.post-line .line-title [href='/posts/living-coding/']::before {
    content: "★ ";
}

pre {
    scrollbar-width: thin;
    overflow-y: auto;
}

small {
    font-size: small;
    vertical-align: super;
}

.customize-it.github-trends li:nth-child(5)::marker {
    content: "★  ";
}

article a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    transition: border-color 0.2s ease;
}

article a:hover {
    border-bottom-color: rgba(0, 0, 0, 0.80);
}

.header-title {
    font-size: 1.75em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3, h4, h5, h6 {
    font-size: 1.15em;
}
